<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <style>
        .nav-bar {
            background-color: #aaa;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container nav-bar">
    <nav class="row">
        <div class="col-10"><h3><a href="{{url_for('public')}}">Catalog</a></h3></div>
        {% if user_logged_in %}
        <div class="col"><a href="/gdisconnect">LogOut</a></div>
        {% else %}
        <div class="col"><a href="/login">Login</a></div>
        {% endif %}
    </nav>
</div>
<div class="container-fluid">
    <div class="sidebar">
        {% if show_categories %}
        <h3>Categories</h3>
        <ul>
            {% for category in categories %}
            <li>
                <a href="{{url_for('show_category', category_name=category.name)}}">
                    {{category.name.capitalize()}}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</div>
{% block gplus %}
{% endblock %}
</body>
</html>